/* ========== TOP ========== */

#top ul{
    padding-top: 8px;
}

#top ul li{
    display: inline;
    line-height: 30px;
    margin: 0px 5px;
    color: white;
}

.social ul li a i{
    font-size: 18px;
    margin: 0 1px;
}

.registro ul{
    text-align: right;
    font-size: 15px;
}

header #menuBuscador{
    margin: 20px 0;
}
header #btnCategorias span i{
    cursor: pointer;
}
header #carrito{
    margin: 20px 0;
}
header #carrito p{
    padding: 0px;
    padding-left: 60px;
    border: 1px solid #aaa;
    border-radius: 3px;
    font-size: 12px;
}
header #categorias{
    display: none;
    margin-top: -15px;
    position: relative;
    margin-top: -10px;
    padding-top: 0px;
}
header #categorias h4{
    margin-top: 5px;
    margin-bottom: -10px;
}
header #categorias h4 a{
    font-size: 19px;
}
header #categorias ul{
    margin-top: -13px;
}
header #categorias hr{
    border: 1px solid rgba(255,255,255,.3);
}

/* ========== PUNTOS DE QUIEBRE ========== */


/* Escritorio Grande (LG lo revisamos en 1366px en adelante) */
@media (min-width: 1200px) {
    /* HEADER */
    header #logotipo img{
        padding: 18px 60px;
        padding-left: 0px;
    }
    header #carrito{
        padding-left: 100px;
    }
}
/* Escritorio Mediano (MD lo revisamose en 1024px) */
@media (max-width: 1199.98px) and (min-width: 992px) {
    /* HEADER */
    header #logotipo img{
        padding: 22px 60px;
        padding-left: 0px;
    }
    header #carrito{
        padding-left: 70px;
    }
    header #categorias h4 a{
        font-size: 17px;
    }
    header #categorias ul li{
        font-size: 14px;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 991.98px) and (min-width: 768px) {
    /* HEADER */
    header #logotipo img{
        padding: 23px 0px;
    }
    header #carrito{
        padding-left: 65px;
    }
    header #carrito p{
        display: none;
    }
    header #categorias h4 a{
        font-size: 15px;
    }
    header #categorias ul li{
        font-size: 12px;
    }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    /* TOP */
    #top ul{
        text-align: center
    }
    #top #registro{
        border-top: 1px solid #222;
    }
    #top .registro{
        margin-top: -15px;
    }
    /* HEADER */
    header #logotipo img{
        padding: 30px;
        padding-bottom: 5px;
    }
    header #categorias{
        margin-top: 4px;
        margin-bottom: 10px;
    }
    header #carrito{
        margin: 0px;
    }
    header #categorias h4 a{
        font-size: 18px;
    }
    header #categorias ul li{
        font-size: 15px;
    }
}